body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #6b6e6e;
    font-family: sans-serif;
    box-sizing: border-box;
}

a,a:hover{
  color: inherit;
  text-decoration: none;
}

.all {
    display: flex;
    height: 100%;
}
.menu {
    background-color: #efefef;
    color: #6b6e6e;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    justify-content: space-evenly;
}


.menu .title h2 {
    margin: 0px;
    color: #000;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 2rem;
}

ul li:hover {
  color: #000000;
}

.list li::before {
    content: '- ';
}
.list .active {
  color: #000000;
}


.container {
    flex: 1 1 500px;
    overflow-y: overlay;
    padding: 50px 60px;
}

.item {
    width: 31.5%;
    float: left;
    margin-bottom: 10px;
}

.item img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3) translate3d(0, 0, 0);
    }
    50% {
        opacity: 0.6;
        transform: scale(1.1);
    }
    80% {
        opacity: 1;
        transform: scale(0.89);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
    }
}
